<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body cz-shortcut-listen = "false">
    <nav class="geral">
        <div class = "container">
                    <img src="https://avatars.githubusercontent.com/u/77304049?v=4" alt="Foto Caio">
                <h1>
                    Caio Victor 
                </h1>
                <div class ="description">
                    Estudante de programação por conta própria, atualmente focado em Tecnologia Web e em busca do primeiro emprego, juntamente de novos aprendizados.
                </div>
                <div class="links">
                    <a href="https://github.com/caiovictorpcb">github</a>
                    <a href="contato.html">contato</a>
                    <a class='sheikcoins' href="https://sheik-coins-front.vercel.app/">SheikCoins</a>
                 
                    
    
                    

                </div>
        </div>  
    </nav>  
</body>
</html>